services:
  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: excalidraw-backend
    restart: unless-stopped
    ports:
      # Expose securely to the host machine only for Nginx to proxy to
      - "127.0.0.1:8080:8080"
    environment:
      - PORT=8080
      # --- THIS IS THE KEY CHANGE ---
      # We point to the core-mongo service and use the credentials
      - MONGODB_URI=mongodb://${MONGO_ROOT_USER}:${MONGO_ROOT_PASSWORD}@core-mongo:27017/?authSource=admin
      - DB_NAME=excalidraw
      - JWT_SECRET=${EXCALIDRAW_JWT_SECRET}
    networks:
      - dokploy-network

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
      args:
        - VITE_APP_BACKEND_URL=${EXCALIDRAW_BACKEND_URL}
    container_name: excalidraw-frontend
    restart: unless-stopped

    ports:
      # Expose securely to the host machine only for Nginx to proxy to
      - "127.0.0.1:3008:80"
    depends_on:
      - backend
    networks:
      - dokploy-network

# All services in this file will join the shared network
networks:
  dokploy-network:
    external: true
